/* =========================================================
   Global Stylesheet (styles.css)
   - Aligned formatting and added section comments
   - No functional changes to selectors or declarations
   ========================================================= */

@import '@angular/material/prebuilt-themes/indigo-pink.css';

/* -------------------- Custom Fonts -------------------- */

:root {
  --main-accent-color: #009688;
}

@font-face {
  font-family: 'Super Cartoon';
  src: url('assets/font/Super Cartoon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('assets/font/Raleway.woff2') format('woff2'), url('assets/font/Raleway.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Amonk_Outline';
  src: url('assets/font/Amonk_Outline.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RetroSigned';
  src: url('assets/font/RetroSigned.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* -------------------- Typography -------------------- */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1 {
  font-size: 3vw;
  color: white;
  font-family: 'Super Cartoon';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.6em;
  line-height: 1.2;
}

p {
  line-height: 1.6;
  margin: 0 0 1em;
}

li {
  line-height: 1.6;
}

/* -------------------- Document / Body -------------------- */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: Raleway, Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(35 34 32 / 43%);
}

html,
body {
  overflow-x: hidden;
}

/*background image for all the component */

.imgbgcontainter {
  background-image: url(/assets/images/grammar-bg.png);
  background-size: auto;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}

.grammar-bg {
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  height: auto;
  max-height: calc(100vh - 100px);
  object-fit: fill;
  z-index: -1;
  opacity: 0.2;
}




.mat-mdc-dialog-surface.mdc-dialog__surface {
  border-radius: 1vw !important;
}

.cdk-global-scrollblock {
  overflow: hidden;
}

/*overall close icon button color change on hover in user guide modal*/
.user-guide-close-icon {
  position: absolute;
  background: #009688;
  border: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2vw;
  color: black;
  cursor: pointer;
  z-index: 2010;
  box-shadow: 0 2px 8px rgba(93, 145, 195, 0.18);
  transition: background 0.2s, color 0.2s;
}


  .user-guide-close-icon:hover {
    background: white;
    color: black;
    border: 3px solid #009688;
  }


/*back arrow button*/
.back-btn {
  position: absolute;
  top: 1vw;
  left: 1vw;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 0 1rem;
  transition: transform 0.3s;
  width: 4.5vw;
}

  .back-btn:hover {
    transform: translateY(-50%) scale(1.1);
  }
